.service:nth-child(odd) {
  background: linear-gradient(to right, #e6e7e8 40%, #fff 30%);
  display: flex;
  flex-direction: column;
  box-shadow: 0 25px inset #fff;
}
.service {
  margin-bottom: 80px;
}
.service:nth-child(even) .title--2 {
  right: inherit;
  background: url(../images/faixa-uma-linha.png) no-repeat;
  background-size: cover;
  justify-content: flex-end;
  background-position: right;
}
.service:nth-child(even) .title--2::before {
  display: none;
}

@media (min-width: 500px) {
  .service:nth-child(even) .title--2::before {
    display: block;
  }
  .service:nth-child(even) .title--2 {
    background-size: contain;
  }
}
.title--2 {
  display: flex;
  position: relative;
  right: -20%;
  width: 80%;
  margin-bottom: 40px;
  padding: 8px 15px;
  text-transform: uppercase;
  font-size: 24px;
  background: url(../images/faixa-duas-linhas.png) no-repeat;
  background-size: contain;
  position: relative;
}
.title--2::before {
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  background-image: linear-gradient(to right, #654e96, #da496e, #d6b855);
  display: block;
  top: 0;
  right: 0;
  opacity: 0.6;
}
.service .container > p {
  margin-bottom: 30px;
}
.service li {
  display: grid;
  grid-template-columns: 30px 1fr;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.service p.container {
  display: none;
}

@media (min-width: 800px) {
  .main-products {
    margin-bottom: 60px;
  }
  .title--2,
  .service:nth-child(even) .title--2 {
    width: 100%;
    text-align: center;
    position: static;
    justify-content: center;
    background: none;
    margin-bottom: 30px !important;
    padding: 0;
  }
  .title--2::before {
    display: none;
  }
  .title--2 {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: row-reverse;
  }

  .title--2::after {
    content: "";
    display: block;
    height: 28px;
    background: url(../images/telas.png);
    width: 45px;
    background-size: contain;
    display: inline-block;
  }
  .service .container.c2 {
    width: 100%;
    max-width: 80% !important;
    margin-left: auto;
    margin-right: 0;
  }

  .service:nth-child(even) .container.c2 {
    margin-left: 0;
    margin-right: auto;
  }

  .container.c2 > p {
    display: none;
  }

  .service p.container {
    text-align: center;
    display: block;
    max-width: 900px !important;
    margin: 0 auto 20px;
    position: relative;
    z-index: 100;
  }
  .service p {
    font-size: 16px !important;
  }
  .service:nth-child(odd) {
    background: none;
  }
  .service:nth-child(even) .title--2::before {
    display: none;
  }

  .service ul {
    display: flex;
    background: #e6e7e8;
    padding: 30px 120px;
    gap: 30px;
    border-radius: 150px 0 0 150px;
    z-index: 100;
    position: relative;
    z-index: 500;
    justify-content: center;
  }
  .service {
    position: relative;
    margin-bottom: 200px;
  }
  .service::after {
    content: "";
    position: absolute;
    right: 0;
    height: 380px;
    width: 100px;
    top: 60px;
    background: url(../images/aderecoodd.webp) no-repeat;
    background-position: center;
    z-index: 100;
    background-size: contain;
  }
  .service::before {
    content: "";
    display: block;
    width: 85%;
    height: 250px;
    background: url(../images/caseodd.webp) no-repeat;
    background-size: cover;
    position: absolute;
    right: 0;
    bottom: -100px;
    z-index: 0;
  }

  .service:nth-child(even)::after {
    content: "";
    position: absolute;
    right: inherit;
    left: 0;
    height: 450px;
    width: 100px;
    background-position: center;
    top: 60px;
    background: url(../images/aderecoeven.webp) no-repeat;
    z-index: 100;
    background-size: contain;
  }

  .service:nth-child(even)::before {
    right: inherit;
    background: url(../images/caseevenn.webp) no-repeat;

    left: 0;
  }
  .service:nth-child(even) ul {
    border-radius: 0 150px 150px 0;
  }
  .service li {
    display: block;
    text-align: center;
  }
  .service li img {
    height: 40px;
    margin: 0 auto 20px;
    object-fit: contain;
  }
}
